<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.dao.aboutGoods.GoodsDao">
    <!--<select id="getAllGoods" resultMap="getAllGoodsResultMap">
        select *,gi.id as goodsimageId,u.id as userId,uh.id as imgId
        from goods g,user u,goodsimage gi,userheadimg uh
        where g.goodsByUserId =u.id
        and g.id=gi.goodsId
        and u.id=uh.userId
        order by g.id,gi.id
    </select>
    <resultMap id="getAllGoodsResultMap" type="com.coco.model.dto.GoodsUserImage">
        <id property="id" column="id" />
        <result property="goodsName" column="goodsName"/>
        <result property="goodsPrice" column="goodsPrice"/>
        <result property="goodsText" column="goodsText"/>
        <result property="goodsDate" column="goodsDate"/>
        <result property="goodsStart" column="goodsStart"/>
        <result property="goodsTypeId" column="goodsTypeId"/>
        <result property="goodsByUserId" column="goodsByUserId"/>
        <association property="userHandImg" javaType="com.coco.model.dto.UserHandImg">
            <id column="userId" property="id" />
            <result column="userAccount" property="userAccount" />
            <result column="phone" property="phone" />
            <result column="email" property="email" />
            <result column="joinData" property="joinData" />
            <association property="headImage" javaType="com.coco.model.pojo.HeadImage">
                <id column="imgId" property="id" />
                <result column="userId" property="userId" />
                <result column="userId" property="userId" />
                <result column="url" property="url" />
            </association>
        </association>
        <collection property="goodsImages" ofType="com.coco.model.pojo.GoodsImage">
            <id column="goodsimageId" property="id"/>
            <result column="imgUrl" property="imgUrl" />
            <result column="goodsId" property="goodsId" />
        </collection>
    </resultMap>-->

    <!--<insert id="addCart">
        insert into goodscart values(null,#{gid},#{uid},now())
    </insert>-->

    <select id="getAllGoodsANDImageForSlider" resultMap="getAllGoodsInfos">
        select g.id from goods g order by g.id limit 0,5
    </select>
    <resultMap id="getAllGoodsInfos" type="com.coco.model.dto.GoodsANDImageForSlider">
        <id property="id" column="id" />
        <collection property="goodsImages" column="id" select="getGoodsImage" ofType="com.coco.model.pojo.GoodsImage" />
    </resultMap>


    <select id="getGoodsByGid" resultMap="getAllGoodsResultMap" parameterType="int">
        select *,u.id as userId,uh.id as imgId
        from goods g,user u,userheadimg uh
        where
        <if test="gid!=0">
            g.id=#{gid}
        </if>
        and g.goodsByUserId =u.id
        and u.id=uh.userId
        order by g.id
    </select>

    <select id="getAllGoodsTextByUid" resultType="com.coco.model.dto.GoodsText">
        select gc.goodsText text,u.userAccount account,uh.url url from goodscomments gc,user u,userheadimg uh
        where gc.goodsId=#{gid}
        and gc.userId=u.id
        and u.id=uh.userId
        order by gc.id desc
    </select>

    <select id="getAllGoodsByUser" resultMap="goodsAndImage" parameterType="int">
        select * from goods g
        where g.goodsByUserId=#{uid} limit 0,3
    </select>

    <select id="showAllUserGoods" resultMap="goodsAndImage" parameterType="int">
        select * from goods g
        where g.goodsByUserId=#{uid}
    </select>

    <resultMap id="goodsAndImage" type="com.coco.model.dto.GoodsAndImage">
        <id property="id" column="id" />
        <result property="goodsName" column="goodsName"/>
        <result property="goodsPrice" column="goodsPrice"/>
        <result property="goodsText" column="goodsText"/>
        <result property="goodsDate" column="goodsDate"/>
        <result property="goodsStart" column="goodsStart"/>
        <result property="goodsTypeId" column="goodsTypeId"/>
        <result property="goodsByUserId" column="goodsByUserId"/>
        <collection property="goodsImages" column="id" select="getGoodsImage" ofType="com.coco.model.pojo.GoodsImage" />
    </resultMap>

    <select id="getAllGoods" resultMap="getAllGoodsResultMap" parameterType="int">
        select *,u.id as userId,uh.id as imgId
        from goods g,user u,userheadimg uh
        where g.goodsByUserId =u.id
        <if test="typeId!=0">
            and g.goodsTypeId=#{typeId}
        </if>
        <if test="goodsName!=null">
            and g.goodsName like concat('%',#{goodsName},'%')
        </if>
        and u.id=uh.userId order by g.id
    </select>
    <resultMap id="getAllGoodsResultMap" type="com.coco.model.dto.GoodsUserImage">
        <id property="id" column="id" />
        <result property="goodsName" column="goodsName"/>
        <result property="goodsPrice" column="goodsPrice"/>
        <result property="goodsText" column="goodsText"/>
        <result property="goodsDate" column="goodsDate"/>
        <result property="goodsStart" column="goodsStart"/>
        <result property="goodsTypeId" column="goodsTypeId"/>
        <result property="goodsByUserId" column="goodsByUserId"/>
        <association property="userHandImg" javaType="com.coco.model.dto.UserHandImg">
            <id column="userId" property="id" />
            <result column="userAccount" property="userAccount" />
            <result column="phone" property="phone" />
            <result column="email" property="email" />
            <result column="joinData" property="joinData" />
            <association property="headImage" javaType="com.coco.model.pojo.HeadImage">
                <id column="imgId" property="id" />
                <result column="userId" property="userId" />
                <result column="userId" property="userId" />
                <result column="url" property="url" />
            </association>
        </association>
        <collection property="goodsImages" column="id" select="getGoodsImage" ofType="com.coco.model.pojo.GoodsImage" />
    </resultMap>
    <select id="getGoodsImage" resultType="com.coco.model.pojo.GoodsImage">
        select * from goodsimage gi where gi.goodsId=#{id}
    </select>


    <insert id="insertGoods">
        <selectKey keyProperty="id" keyColumn="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into goods values (null,#{goodsName},#{goodsPrice},#{goodsText},now(),#{goodsStart},#{goodsTypeId},#{goodsByUserId});
    </insert>

    <insert id="insertGoodsImage">
        insert into goodsimage value(null,#{imgUrl},#{goodsId})
    </insert>

    <select id="goodsComments" resultType="com.coco.model.dto.GoodsCommentForIndex">
        select u.userAccount,uh.url,gs.goodsText
        from user u,userheadimg uh,goodscomments gs
        where u.id=uh.userId
        and u.id=gs.userId
        order by RAND()
    </select>

    <insert id="addComments">
        insert into goodscomments values(null,#{userId},#{goodsId},#{goodsText})
    </insert>
</mapper>
