*{
    padding: 0;
    margin: 0;
}
.title-box{
    width: 100%;
    height: 58px;
    background-color: black;
}
.content-box{
    width: 55%;
    height: 530px;
    margin: 20px auto;
}
.content-box .goods-title{
    width: 100%;
    height: 40px;
    background-color: darkgray;
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
.content-box .left-slider-box{
    width: 400px;
    height: 450px;
    float: left;
    border: 1px solid gray;
    box-sizing: border-box;
}
.content-box .left-slider-box .swiper-container {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.content-box .left-slider-box .swiper-container img{
    width: 100%;
    height: 100%;
}
.content-box .left-slider-box .swiper-slide {
    background-size: cover;
    background-position: center;
}
.content-box .left-slider-box .gallery-top {
    height: 80%;
    width: 100%;
}
.content-box .left-slider-box .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.content-box .left-slider-box .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.content-box .left-slider-box .gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.right-goodsInfos-box{
    float: right;
    width: 60%;
    height: 450px;
    margin-right: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}
.right-goodsInfos-box div{
    padding-left: 20px;
}

.right-goodsInfos-box .goods-name{
    width: 95%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid gray;
    color: gray;
    font-size: 16px;
    margin: auto;
}
.right-goodsInfos-box .goods-text{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}

.right-goodsInfos-box .goods-Price{
    color: orangered;
    font-size: 18px;
    line-height: 40px;
}
.right-goodsInfos-box .goods-date{
    line-height: 40px;
}
.right-goodsInfos-box .goods-user-info{
    width: 100%;
    height: 258px;
}
.goods-user-info .title{
    width: 95%;
    height: 40px;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    line-height: 40px;
}
.goods-user-info .img{
    width: 50px;
    height: 50px;
    margin: 10px auto;
    border-radius: 50%;
}
.goods-user-info .img img{
    width: 50px;
    height: 50px;
    margin-right: -10px;
    border-radius: 50%;
}
.goods-user-info .infos{
    line-height: 35px;
}
.goods-user-info .infos .user-other-goods-text{
    display: inline-block;
    width: 140px;
    float: right;
    background-color: orangered;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
}
.other-goods-goodsAndText{
    width: 55%;
    height: auto;
    margin: auto;
    display: none;
    background-color: orangered;
}
.other-goods-goodsAndText .other-goods{
    width: 30%;
    height: auto;
    float: left;
}
.other-goods-goodsAndText .other-goods .other-goods-title{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    background-color: #0096e6;
}
.other-goods-goodsAndText .other-goods .goods-img-box{
    width: 100%;
    height: auto;
}
.other-goods-goodsAndText .other-goods .goods-img-box ul{
    list-style: none;
}
.other-goods-goodsAndText .other-goods .goods-img-box ul li{
    display: block;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    margin-top: 10px;
}
.other-goods-goodsAndText .other-goods .goods-img-box ul li a img{
    width: 100%;
    height: 100%;
}
.other-goods-goodsAndText .goods-text{
    width: 60%;
    height: 100%;
    float: right;
    padding-left: 50px;
}
.other-goods-goodsAndText .goods-text ul{
    list-style: none;
}
.other-goods-goodsAndText .goods-text ul li{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.other-goods-goodsAndText .goods-text ul li .imgAccount{
    width: 100%;
    height: 40px;
}
.other-goods-goodsAndText .goods-text ul li .imgAccount span img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.other-goods-goodsAndText .goods-text ul li .goods-context{
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-left: 40px;
}