*{
    padding: 0;
    margin: 0;
}
.title-box{
    width: 100%;
    height: 58px;
    background-color: black;
}
.content-box{
    width: 55%;
    height: 530px;
    margin: 20px auto;
    background-color: wheat;
}
.content-box .goods-title{
    width: 100%;
    height: 40px;
    background-color: darkgray;
    margin-bottom: 10px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 10px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}
.content-box .left-slider-box{
    width: 400px;
    height: 450px;
    float: left;
    border: 1px solid gray;
    box-sizing: border-box;
}
.content-box .left-slider-box .swiper-container {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.content-box .left-slider-box .swiper-container img{
    width: 100%;
    height: 100%;
}
.content-box .left-slider-box .swiper-slide {
    background-size: cover;
    background-position: center;
}
.content-box .left-slider-box .gallery-top {
    height: 80%;
    width: 100%;
}
.content-box .left-slider-box .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.content-box .left-slider-box .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.content-box .left-slider-box .gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.right-goodsInfos-box{
    float: right;
    width: 60%;
    height: 450px;
    margin-right: 10px;
    border: 1px solid gray;
    box-sizing: border-box;
}
.right-goodsInfos-box div{
    padding-left: 20px;
}

.right-goodsInfos-box .goods-name{
    width: 95%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid gray;
    color: gray;
    font-size: 16px;
    margin: auto;
}
.right-goodsInfos-box .goods-text{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    background-color: yellow;
}


