* {
    padding: 0;
    margin: 0;
}

/*body{
    background-color: #383a3c;
}*/
body {
    background: url("../img/indexBg06.jpg") no-repeat center;
    background-size: 100%;
    background-attachment: fixed;
}

.header-title {
    width: 100%;
    height: 58px;
    margin: auto;
}

.slider-box {
    width: 100%;
    height: 450px;
    margin: auto;
    /*background: url("http://zhangshiqitest.oss-cn-beijing.aliyuncs.com/image_test/a22adc79-1968-4b88-84ef-0a611620ec16.jpg") no-repeat center;*/

    background-size: 100%;
}

.slider-01 {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.slider-01 .swiper-wrapper .swiper-slide {
    width: 300px !important;
    height: 300px !important;
    background-size: 100%;
}

.slider-01 .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.user_img {
    margin: 1px 1px;
}

.user_img img {
    width: 60px;
    height: 60px;
}

#introduce {
    width: 507px;
    height: 106px;
    border: 1px gray solid;
    border-radius: 5px;
    resize: none;
}

#selfImage {
    width: 60px;
    height: 60px;
    margin-left: 393px;
    margin-top: -35px;
}


.roleLeave {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -10px 3px;
}

.roleLeave img {
    width: 100%;
    height: 100%;
}

#sendEmailBtn {
    margin-top: -40px;
    margin-bottom: 9px;
    margin-left: 300px;
}

.context-box {
    width: 60%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    /*background-color: rgba(247, 247, 247, 0.6);*/
    /*background-color: #fff;*/
}

@font-face {
    font-family: "zhangsan";
    src: url(../fonts/font02.ttf);
}

.context-box .context-box-title {
    width: 100%;
    height: 40px;
    background-color: #101010;
    border-radius: 5px;
    /*font-family: "zhangsan";*/
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.context-box .context-box-title .left-typeList {
    width: 60%;
    height: 100%;
    float: left;
}

.context-box .context-box-title .left-typeList ul {
    list-style: none;
}

.context-box .context-box-title .left-typeList ul li {
    display: block;
    float: left;
    margin-left: 20px;
    padding: 0px 22px;
}

.context-box .context-box-title .left-typeList ul li a {
    text-decoration: none;
    color: #9d9d9d;
}

.context-box .context-box-title .left-typeList ul li a:hover {
    color: white;
}

.context-box .context-box-title .right-key {
    width: 30%;
    height: 100%;
    float: right;
    margin-right: 80px;
}

@keyframes myfirst {

    0% {
        left: 0;
    }
    20% {
        color: yellow;
        width: 120px;
    }
    50% {
        left: 200px;
        color: #009a61;
        width: 140px;
    }
    100% {
        left: 400px;
        color: orange;
        width: 150px;
    }
}

.content-goods-list {
    width: 100%;
    height: auto;
}

.context-box .pageBtn-box {
    width: 100%;
    height: 50px;
    margin-top: 35px;
    box-sizing: border-box;
    display: inline-block;
}

.context-box .pageBtn-box .page-box-context {
    width: 300px;
    height: 100%;
    line-height: 40px;
    margin: auto;
}

.content-goods-list ul {
    list-style: none;
}

.content-goods-list ul li {
    display: inline-block;
    width: 240px;
    height: 468px;
    margin: 10px 21px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: rgba(247, 247, 247, 0.2);
    /*border: 1px solid white;*/
}

.content-goods-list ul li a {
    text-decoration: none;
    color: black;
}

.content-goods-list ul li:hover {
    background-color: white;
    transition: 1s;
}

.content-goods-list ul li .img-box {
    width: 100%;
    height: 240px;
    /*background-color: blue;*/
}

.content-goods-list ul li .img-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.content-goods-list ul li .goodsName {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}

.content-goods-list ul li .goods-price {
    margin-top: 5px;
    /*background-color: #007aff;*/
}

.content-goods-list ul li .goods-text {
    height: 40px;
    overflow: hidden;
}

.content-goods-list ul li .goods-price p {
    font-size: 22px;
    color: black;
}

.content-goods-list ul li .goods-data, .content-goods-list ul li .goods-user {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-goods-list ul li .goods-user {
    position: relative;
}

.goods-user-info {
    position: absolute;
    top: -200px;
    left: 10px;
    width: 200px;
    height: 200px;
    background-color: wheat;
    box-sizing: border-box;
    color: darkslategray;
    display: none;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
    padding: 15px;
    font-size: 14px;
    text-align: left;
}

.goods-user-info .goods-user-img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 60px;
    border-radius: 25px;
}

.goods-user-info .goods-user-img img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid white;
    box-sizing: border-box;
}

.goods-user-info .goods-user-userAccount, .goods-user-info .goods-user-phone, .goods-user-info .goods-user-email {
    margin-top: 18px;
}

.footer-box {
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
}

.left-tools-box {
    position: fixed;
    left: 20px;
    top: 517px;
    width: 270px;
    height: 350px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
}

.left-tools-box .left-tools-box-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}

.left-tools-box-title-item .slider-02 {
    width: 200px;
    height: 350px;
}

.left-tools-box-title-item .slider-02 .swiper-wrapper .swiper-slide {
    height: 40px !important;
    margin-top: 20px;
}

.left-tools-box-title-item .slider-02 .swiper-wrapper .swiper-slide div {
    float: left;
}

.left-tools-box-title-item .slider-02 .swiper-wrapper .swiper-slide div:nth-of-type(2) {
    height: 35px;
    width: 155px;
    margin-left: 5px;
    line-height: 35px;
    overflow: hidden;
}

.left-tools-box-title-item .slider-02 .swiper-wrapper .swiper-slide div img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.userComments {
    overflow: hidden;
}

.user_Goods {
    width: 565px;
    height: 400px;
    overflow-y: auto
}

.user_Goods ul {
    list-style: none;
}

.user_Goods ul a {
    color: black;
    text-decoration: none;
}

.user_Goods ul a:hover {
    color: orangered;
}

.user_Goods ul li {
    display: block;
    float: left;
    width: 150px;
    height: 160px;
    margin: 20px 15px;
}

.user_Goods ul li p {
    width: 100%;
    height: 20px;
    text-align: center;
}

.user_Goods ul li img {
    width: 100%;
    height: 120px;
}

.showOrder .order_box {
    width: 868px;
    height: 500px;
    background-color: yellow;
}