<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${goodsInfosById.goodsName}"></title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/swiper-3.4.2.min.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="../css/goodsInfoPage.css">
</head>
<body>
<!--<h1>this is 商品详情页面</h1>-->
<p th:text="${goodsInfosById}"></p>
<div id="app">
    <div class="title-box"></div>
    <div class="content-box">
        <div class="goods-title">商品详情</div>
        <div class="left-slider-box">
            <div class="swiper-container gallery-top goodsInfos">
                <div class="swiper-wrapper">
                    <div th:each="goodsImg : ${goodsInfosById.goodsImages}" class="swiper-slide"><img th:src="${goodsImg.imgUrl}"></div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-black"></div>
                <div class="swiper-button-prev swiper-button-black"></div>
            </div>
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    <div th:each="goodsImg : ${goodsInfosById.goodsImages}" class="swiper-slide"><img th:src="${goodsImg.imgUrl}"></div>
                </div>
            </div>
        </div>
        <div class="right-goodsInfos-box">
            <div class="goods-name">[[${goodsInfosById.goodsName}]]</div>
            <div class="goods-text">[[${goodsInfosById.goodsText}]]</div>
            <div class="goods-Price">¥[[${goodsInfosById.goodsPrice}]]</div>
            <div class="goods-date">上架时间：[[${goodsInfosById.goodsDate}]]</div>
            <div class="goods-user-info">
                <div class="title">卖家信息</div>
                <div class="img">
                    <img th:src="${goodsInfosById.userHandImg.headImage.url}">
                </div>
                <div class="user-userAccount infos">卖家账号：[[${goodsInfosById.userHandImg.userAccount}]]</div>
                <div class="user-userPhone infos">卖家电话：[[${goodsInfosById.userHandImg.phone}]]</div>
                <div class="user-userEmail infos">卖家邮箱：[[${goodsInfosById.userHandImg.email}]]</div>
                <div class="user-userEmail infos">
                    <span>卖家加入日期：[[${goodsInfosById.userHandImg.joinData}]]</span>
                    <!--<span th:@click="|getUserId('${goodsInfosById.userHandImg.id}')|" class="user-other-goods">查看卖家其他商品</span>-->
                    <span th:@click="|getUserId('${goodsInfosById.id}','${goodsInfosById.goodsByUserId}')|" class="user-other-goods-text">查看商品评论</span>
                </div>
            </div>
        </div>
    </div>
    <div class="other-goods-goodsAndText">
        <div class="other-goods">
            <div class="other-goods-title">
                该用户还发布了
            </div>
            <div class="goods-img-box">
                <ul>
                    <li v-for="og in otherGoods">
                        <a :href="'/goods/getGoodsById?gid='+og.id"><img :src="og.goodsImages[0].imgUrl"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="goods-text">
            <ul>
                <li v-for="t in goodsText">
                    <div class="imgAccount">
                        <span><img :src="t.url"></span>
                        <span>{{t.account}}</span>
                    </div>
                    <div class="goods-context">
                        <p>{{t.text}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    var vm=new Vue({
        el:'#app',
        data:{
            name:'zhangsan',
            goodsText:'',
            otherGoods:''
        },
        methods:{
            getUserId:function (gid,uid) {
                this.getOtherGoods(uid)
                console.log(gid+"-->goodsId")
                let _this=this
                $.ajax({
                    url:'getAllGoodsByUser',
                    type:'get',
                    dataType:'json',
                    data:{
                        gid:gid
                    },
                    success:function (data) {
                        _this.goodsText=data
                    }
                })
            },
            getOtherGoods:function (uid) {
                console.log(uid+'::::getOtherGoods')
                let _this=this
                $.ajax({
                    url:'getGoodsByUid',
                    type:'get',
                    dataType:'json',
                    data:{
                        uid:uid
                    },
                    success:function (data) {
                        console.log(data)
                        _this.otherGoods=data
                    }
                })
            }
        },
        mounted:function(){
        }
    })
</script>
<script src="../js/swiper-3.4.2.min.js"></script>
<script>
    $(document).ready(function () {
        $(".user-other-goods-text").click(function () {
            $(".other-goods-goodsAndText").fadeToggle()
        })
    });
    var galleryTop = new Swiper('.gallery-top', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 10,
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;

</script>
</body>
</html>